.suppressedHeaderContainer {
  background-color: var(--suppressed-background);
  color: var(--white);
  text-align: center;
  font-style: italic;
  text-transform: uppercase;
}
.shareHeaderContainer {
  color: var(--white);
  text-align: center;
  font-style: normal;
  display: inline-block;
  width: 100%;
}

.eventHeaderContainer {
  padding: 8px;
  background-color: var(--suppressed-background-1);
  color: var(--white);
  text-align: center;
}

.shareHeaderContainer {
  font-style: normal;
}
.shareSubHeader {
  margin-top: -12px;
  font-style: italic;
}

.eventSubHeader {
  font-style: italic;
}
