.suppressedHeaderContainer {
  background-color: var(--suppressed-background);
  color: var(--white);
  text-align: center;
  font-style: italic;
}
.shareHeaderContainer {
  color: var(--white);
  text-align: center;
  font-style: normal;
  display: inline-block;
  width: 100%;
}
.shareHeaderContainer {
  font-style: normal;
}
.shareSubHeader {
  margin-top: -12px;
  font-style: italic;
}
