body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to bottom, #474747, #737373);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  /* Colors */
  --suppressed-background: #474747;
  --white: #fff;

  /* Padding */
  --padding-sm: 20px;

  --page-layout-width: 600px;
}

.responsivePageContainer {
  width: 100%;
  max-width: var(--page-layout-width);
  margin: 0 auto;
  background: var(--suppressed-background);
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
}
